# On branch master
# Untracked files:
#   (use "git add <file>..." to include in what will be committed)
#
#	.gitignore
#	Binaries/
#	Development/Flash/
#	Development/Src/Core/
#	Development/Src/Engine/
#	Development/Src/GFxUI/
#	Development/Src/GFxUIEditor/
#	Development/Src/GameFramework/
#	Development/Src/IpDrv/
#	Development/Src/MobileGame/
#	Development/Src/MyMod/
#	Development/Src/OnlineSubsystemGameCenter/
#	Development/Src/OnlineSubsystemPC/
#	Development/Src/OnlineSubsystemSteamworks/
#	Development/Src/UDKBase/
#	Development/Src/UTEditor/
#	Development/Src/UTGame/
#	Development/Src/UTGameContent/
#	Development/Src/UnrealEd/
#	Engine/
#	MobileGame/
#	UDKGame/Build/
#	UDKGame/Config/DefaultCharInfo.ini
#	UDKGame/Config/DefaultCompat.ini
#	UDKGame/Config/DefaultEditor.ini
#	UDKGame/Config/DefaultEditorKeyBindings.ini
#	UDKGame/Config/DefaultEditorUDK.ini
#	UDKGame/Config/DefaultEditorUserSettings.ini
#	UDKGame/Config/DefaultEngine.ini.orig
#	UDKGame/Config/DefaultEngineUDK.ini.orig
#	UDKGame/Config/DefaultGame.ini
#	UDKGame/Config/DefaultGameUDK.ini
#	UDKGame/Config/DefaultInput.ini
#	UDKGame/Config/DefaultInputDefaults.ini
#	UDKGame/Config/DefaultLightmass.ini
#	UDKGame/Config/DefaultUI.ini
#	UDKGame/Config/DefaultWeapon.ini
#	UDKGame/Config/DefaultWeaponDefaults.ini
#	UDKGame/Config/UDKCharInfo.ini
#	UDKGame/Config/UDKEditor.ini
#	UDKGame/Config/UDKEditorKeyBindings.ini
#	UDKGame/Config/UDKEditorUserSettings.ini
#	UDKGame/Config/UDKEngine.ini
#	UDKGame/Config/UDKGame.ini
#	UDKGame/Config/UDKInput.ini
#	UDKGame/Config/UDKLightmass.ini
#	UDKGame/Config/UDKUI.ini
#	UDKGame/Config/UDKUSAR.ini
#	UDKGame/Config/UDKWeapon.ini
#	UDKGame/Config/UnrealFrontend.DefaultProfiles/
#	UDKGame/Content/
#	UDKGame/Flash/
#	UDKGame/Localization/
#	UDKGame/Logs/
#	UDKGame/Movies/
#	UDKGame/PCTOC.txt
#	UDKGame/PCTOC_CHN.txt
#	UDKGame/PCTOC_JPN.txt
#	UDKGame/PCTOC_KOR.txt
#	UDKGame/Script/
#	UDKGame/Splash/
#	USARGame/Content/Maps/EmptyRoom.mid
#	USARGame/Content/Maps/EmptyRoom.mif
#	USARGame/Content/Maps/EmptyRoom.t3d
#	USARGame/Content/Maps/EmptyRoom.txt
nothing added to commit but untracked files present (use "git add" to track)
