/Binaries/
/MobileGame/
/Engine/
/run.bat
/Development/Flash/
/Development/Src/Core/
/Development/Src/Engine/
/Development/Src/GameFramework/
/Development/Src/GFxUI/
/Development/Src/GFxUIEditor/
/Development/Src/IpDrv/
/Development/Src/MobileGame/
/Development/Src/OnlineSubsystemGameCenter/
/Development/Src/OnlineSubsystemPC/
/Development/Src/OnlineSubsystemSteamworks/
/Development/Src/UDKBase/
/Development/Src/UnrealEd/
/Development/Src/UTEditor/
/Development/Src/UTGame/
/Development/Src/UTGameContent/
/UDKGame/Content/
/UDKGame/Flash/
/UDKGame/Localization/
/UDKGame/Logs/
/UDKGame/Movies/
/UDKGame/Script/
/UDKGame/Splash/
/UDKGame/Autosaves/
/UDKGame/Build/
/USARGame/Content/