/Core/
/Engine/
/GameFramework/
/GFxUI/
/GFxUIEditor/
/MobileGame/
/IpDrv/
/MyMod/
/OnlineSubsystemPC/
/OnlineSubsystemGameCenter/
/OnlineSubsystemSteamworks/
/UDKBase/
/UnrealEd/
/UTEditor/
/UTGame/
/UTGameContent/
